<%= render partial: 'partials/flash_messages' %>

<main class="wavy-image">
  <div class="index-container">
    <h1>Our Species</h1>

    <%= link_to  "New Species", new_species_path(@species) if is_admin %>

    <ul>
      <% @species_all.each do |species| %>
        <li><%= link_to  species.name, species_path(species) %></li>
      <% end %>
    </ul>
  </div>
</main>

