 <% if model.errors.any? %>
  <div id="error-message-container">
  
    <button id="error-hide-btn">x</button>

    <h2>
      <%= pluralize(model.errors.count, "error") %> prohibited this <%= model.class %> from being saved:
    </h2>

    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  </div>

  <script>
    document.getElementById("error-hide-btn").addEventListener("click", function() {
      document.getElementById("error-message-container").classList.add("hidden")
    });
  </script>

<% end %>
