<nav>
  <% if on_welcome_page %>
    <ul>
      <li><a href="#">WCS.ORG</a></li>
      <li><a href="#">BRONX ZOO</a></li>
      <li><a href="#">TREETOP ADVENTURE</a></li>
      <li><a href="#">CENTRAL PARK ZOO</a></li>
      <li><a href="#">NEW YORK AQUARIUM</a></li>
      <li><a href="#">PROSPECT PARK ZOO</a></li>
      <li><a href="#">QUEENS ZOO</a></li>
    </ul>
  <% else %>
    
  <% end %>
</nav>