<%= render partial: 'partials/flash_messages' %>

<main class="wavy-image">
  <div class="index-container">

    <div class="index-header">
      <h1>Our Exhibits</h1>
    </div>

    <% if is_admin %>
      <div class="index-link-container-top">
        <%= link_to  "New Exhibit", new_exhibit_path(@exhibit), class: "button login" %>
      </div>
    <% end %>

    <ul>
      <% @exhibits.each do |exhibit| %>
        <li><%= link_to  exhibit.name, exhibit_path(exhibit) %></li>
      <% end %>
    </ul>
  </div>
</main>
<h1>Our Exhibits</h1>