<%= render partial: 'partials/flash_messages' %>

<main class="wavy-image">
  <div class="index-container">

    <div class="index-header">
      <h1>Our Exhibits</h1>
    </div>

    <% if is_admin %>
      <div class="index-link-container-top">
        <%= link_to  "New Exhibit", new_exhibit_path(@exhibit), class: "button login" %>
      </div>
    <% end %>

    <ul>
      <% @exhibits.each do |exhibit| %>
        <div class="index-card">
          <li>
            <div class="index-card-header">
              <%= link_to  exhibit.name, exhibit_path(exhibit) %>
            </div>
            
            <img src="<%= exhibit.image_url %>" alt="">
          </li>
        </div>
      <% end %>
    </ul>
  </div>
</main>