<%= render partial: 'partials/flash_messages' %>

<h1>Our Exhibits</h1>

<%= link_to  "New Exhibit", new_exhibit_path(@exhibit) if is_admin %>

<ul>
  <% @exhibits.each do |exhibit| %>
    <li><%= link_to  exhibit.name, exhibit_path(exhibit) %></li>
  <% end %>
</ul>