<% if flash[:message] %>
  <div class="center alert">
    <p><%= flash[:message] %></p>
  </div>
<% end %>

<h1>Our Exhibits</h1>

<% if is_admin %>
  <%= link_to  "New Exhibit", new_exhibit_path(@exhibit) %>
<% end %>

<ul>
  <% @exhibits.each do |exhibit| %>
  <li><%= link_to  exhibit.name, exhibit_path(exhibit) %></li>
  <% end %>
</ul>