<%= render partial: 'partials/flash_messages' %>
<main class="wavy-image">
  <div class="index-container">

    <%= render partial: 'users', locals: {users: @users, phrase: "Guests"} %>
    
    <div class="index-link-container">
      <%= link_to  "Most Donations", most_donation_path, class: "button button2" %>
    </div>
  </div>
</main>
