<main class="wavy-image">
  <div class="show-container">
    <%= render  partial: "info", locals: {user: @user} %>

    <div class="show-sub-container">
      <h2>Total Donations: <%= @user.donations.count %></h1>
    </div>
    
    <div class="show-sub-container">
      <h2>Average Donation Amount: $<%= average_donation_amount @user %></h2>
    </div>
  </div>
</main>
