<% if flash[:message] %>
  <div>
    <p><%= flash[:message] %></p>
  </div>
<% end %>

<%= render partial: 'info', locals: {user: @user} %>

<%= link_to  "Logout", logout_path, method: :post %>
<%= link_to  "My Donations", user_donations_path(@user) %>