<main class="wavy-image">
  <div class="show-container">
    <%= render partial: 'partials/flash_messages' %>

    <%= render partial: 'info', locals: {user: @user} %>

    <% if has_access %>
      <div class="show-link-container">
        <%= link_to  "My Donations", user_donations_path(@user), class: "button button2" %>
        <%= link_to  "Edit", edit_user_path(@user), class: "button edit" %>
      </div>
    <% end %>
  </div>
</main>
