<div>
  <h2>To combat the spread of COVID-19 many businesses across NYC had to close or limit 
  occupancy.
  The Central Park Zoo was no exception to this.</h2>

  <h2>In the interim we have decided to take our zoo experience online to allow our guests 
  to continue to visit and donate to our conservation efforts.</h2>

  <h2>While we await a great number of cameras and computers to set up live streams of our
  exhibits, please enjoy some photos of the animals that call our zoo home. </h2>
  
  <h2>Thank you and we hope you enjoy your visit !</h2>
</div>

<%= button_to "Sign Up", signup_path %>
<%= button_to "Login", login_path %>