<main class="welcome-image">
  <div class="logo-container">
    <%= image_tag "logo.png", class: "logo" %>
  </div>

  <div class="welcome-text-container">
    <h2 class="welcome-text">To combat the spread of COVID-19 many businesses across NYC closed or limited occupancy.
    The Central Park Zoo was no exception to this.</h2>

    <h2 class="welcome-text">In the interim we have decided to take our zoo experience online to allow our guests 
    to continue to visit and donate to our conservation efforts.</h2>

    <h2 class="welcome-text">While we await a great number of cameras and computers to set up live streams of our
    exhibits, please enjoy some photos of the animals that call our zoo home. </h2>
    
    <h2 class="welcome-text">Thank you and we hope to see you soon!</h2>
  </div>
</main>