<main class="wavy-image">
  <div class="index-container">

    <div class="index-header">
      <h1>Donations</h1>
    </div>

    <ul class="donation-ul">
      <% @donations.each do |donation| %>
        <li class="donation-li">
          $<%= donation.amount %>

          <%= render partial: 'link', locals: { donation: donation } %>

          <%= donation.created_at.strftime(" on %B %e, %Y") %>
        </li>
      <% end %>
    </ul>
  </div>
</main>
