<main class="wavy-image">
  <div class="show-container">

    <div class="show-header">
      <h1>Top Donor</h1>
    </div>

    <div class="show-sub-container">
      <h2>Total Donation Amount:</h2> 
    </div>

    <div class="show-sub-container">
      <h2>$<%= total_donation_amount @user, @species %></h2>
    </div>

    <%= render partial: "users/info", locals: {user: @user} %>
  </div>
</main>
