<h1>Animals</h1>

<ul>
  <% @animals.each do |animal| %>
  
    <li>
      <% if params[:exhibit_id] %>
        <%= link_to animal.name, exhibit_animal_path(@exhibit, animal) %>
      <% else %>
        <%= link_to  animal.name, animal_path(animal) %>
      <% end %>
      | <%= link_to animal.species.name, species_path(animal.species) %>  
     </li>
    
  <% end %>
</ul>