<%= render partial: 'partials/flash_messages' %>

<h1>Animals</h1>

<%= link_to  "New Animal", set_url if is_admin %>

<ul>
  <% @animals.each do |animal| %>
  
    <li>
      <%= render partial: 'list_info', locals: { animal: animal, exhibit: @exhibit} %>
    </li>
    
  <% end %>
</ul>