<%= render partial: 'partials/flash_messages' %>

<main class="wavy-image">
  <div class="index-container">

    <div class="index-header">
      <h1>Our Animals</h1>
    </div>

    <%= link_to  "New Animal", set_url if is_admin %>

    <ul>
      <% @animals.each do |animal| %>
      
        <li>
          <%= render partial: 'list_info', locals: { animal: animal, exhibit: @exhibit} %>
        </li>
        
      <% end %>
    </ul>
  </div>
</main>