/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Variables */
:root {
  --nav-font-color: #AE9F86;
  --nav-black: #181a1b;
  --footer-red: #cd4e38;
  --button-orange: #e58a1f;
  --button-orange-hover: #ff8c05;
  --button-blue: #1b71b2;
  --button-blue-hover: #199CFE;
  --button-blue2: #395060;
  --button-blue2-hover: #456175;
  --button-green: #36AD47;
  --button-green-hover: #1ac933;
  --from-brown: #a8916c;
  --form-font-color: #706c65;
  --main-font: "Brandon Grotesque", Lato, Helvetica, Arial, sans-serif;
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  cursor: default;
}

a { text-decoration: none }

main { height: 93.4vh }

  /* Navigation Bar Styling */
header { overflow-x: hidden }

.navbar-single, .navbar-double {
  background-color: var(--nav-black);
  text-transform: uppercase;

}

.navbar-single ul, .navbar-double ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Navigation Bar Styling - Login / Signup  */
.navbar-single ul {
  display: flex;
  justify-content: center;
}

.navbar-single .nav-link {
  padding: 1.431em 0.75em 0.75em;
  font-size: 0.7em;
}

.navbar-single .nav-link:after { margin: 4px auto }

#nav-signup-link, #nav-login-link {
  display: block;
  color: white;
  padding: 16.33px 25px;
  font-family: var(--main-font);
  font-weight: bold;
  line-height: 16px;
  font-size: 0.7rem;
  letter-spacing: 0.12em;
  text-align: center;
}

#nav-login-link {
  background-color: var(--button-green);
  transition: background-color 0.2s ease-in-out;
}

#nav-signup-link {
  background-color: var(--button-blue);
  transition: background-color 0.2s ease-in-out;
}

#nav-login-link:hover { background-color: var(--button-green-hover) }
#nav-signup-link:hover { background-color: var(--button-blue-hover) }

 /* Navigation Bar Styling - user logged in  */

.navbar-double {
  display: grid;
  grid-template: none / 40% 60%;
  height: 3em;
}

.logo-container{
  display: grid;
  justify-items: start;
  align-items: center;
}

.navbar-double .logo {
  width: 15em;
  margin-left: 1em;
}

.navbar-double li {
  float: right;
}

.nav-link {
  display: block;
  padding: 1.35em 1em 0em;
  color: var(--nav-font-color);
  font-family: var(--main-font);
  font-size: 0.8em;
  letter-spacing: 0.12em;
  line-height: 1.33;
} 

.nav-link:after {
  display: block;
  content: '';
  width: 60%;
  margin: 5px auto;
  border-bottom: solid 1px var(--nav-font-color);
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}

.nav-link:hover:after{ transform: scaleX(1) }

.logout-container {
  display: inline-block;
  background-color: var(--button-orange);
  width: 48px;
  height: 48px;
  transition: background-color 0.2s ease-in-out;
}

.logout-container:hover { background-color: var(--button-orange-hover) }

.logout {
  width: 24px;
  margin: 12px 13px 0px;
}

/* Footer Styling */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer div {
  background-color: var(--footer-red);
  text-align: center;
}

footer h1 {
  margin: 0px;
  padding: 32px;
  font-size: 20px;
  font-family: "Brandon Grotesque", Lato, Helvetica, Arial, sans-serif;
  letter-spacing: 0.04em;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
  text-transform: uppercase;
  color: white;
}

footer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
}

footer #nav-signup-link { margin-right: 8em }

footer #nav-signup-link, footer #nav-login-link {
  padding: 22px 28px;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

/* Welcome Page Styling */
.welcome-image {
  background-image: url(/assets/seal.jpg);
  background-size: cover;
}

main .logo-container {
  display: flex;
  justify-content: center;
}

main .logo {
  padding: 3em 0em;
  width: 50%;
}

.welcome-text-container { margin: 0px 7em }

.welcome-text {
  font-family: var(--main-font);
  text-transform: uppercase;
  text-align: center;
  color: whitesmoke;
  font-size: 1.8vw;
  text-shadow: 1px 3px 3px rgba(0,0,0,0.9);
}

/* Form page styling */
.paper-image {
  background-image: url(/assets/paper.png);
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-form-bg-size {
  height: 120vh;
}

.form-container {
  width: 40%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25);
  position: relative;
  top: -3em;
}

.form-header { background-color: var(--from-brown) }

.form-header h1 {
  margin: 0px;
  font-family: var(--main-font);
  text-transform: uppercase;
  color: white;
  font-size: 0.75em;
  padding: 12px 0px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.form-container form {
  padding-top: 1px;
  padding-bottom: 16px;
  background-color: white;
}

.form-input-container {
  margin: 24px 0px 8px 0px;
}

.form-container label {
  display: block;
  margin-bottom: 8px;
  color: var(--form-font-color);
  font-family: var(--main-font);
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
}

.form-input {
  padding: 8px 13px;
  border-width: 1px; 
  border-radius: 20px;
  border-color: lightgrey;
  border-style: solid;
  outline: none;
  box-sizing: border-box;
  width: 200px;
}

.form-select { appearance: none }

.button {
  width: 200px;
  padding: 12px 0px;
  border-radius: 20px;
  border-style: none;
  font-family: var(--main-font);
  text-transform: uppercase;
}

.button:hover { cursor: pointer }

.login, .signup, .edit {
  color: white;
  margin-top: 8px;
  font-weight: bold;
  font-size: 0.75rem;
  outline: none;
  letter-spacing: 0.05rem;
  transition: background-color 0.2s ease-in-out;
}

.login { background-color: var(--button-green) }
.login:hover { background-color: var(--button-green-hover) }

.signup { background-color: var(--button-blue) }
.signup:hover { background-color: var(--button-blue-hover) }

.edit { background-color: var(--button-blue2) }
.edit:hover { background-color: var(--button-blue2-hover);}

.omniauth p {
  font-size: 0.7rem;
  font-family: var(--main-font);
  color: var(--form-font-color)
}

.omniauth-icon {
  width: 40px;
  filter: invert(0.8);
  transition: filter 0.15s ease-in-out;
}

.omniauth-icon:hover { filter: invert(0) }

/* Flash Message Styling */
.message-container {
  margin: auto;
  background-color: var(--footer-red);
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25)
}

.message-text {
  font-family: var(--main-font);
  color: white;
  margin: 0px;   
  padding: 4px;
  font-size: 0.85rem;
}

/* Errors sytling */
#error-message-container {
  position: absolute;
  max-width: 400px;
  width: 40%;
  top: 8.7rem;
  text-align: center;
  background-color: var(--footer-red);
  color: white;
  z-index: 1;
  font-family: var(--main-font);
}

#error-message h2 {
  width: 70%;
  margin: 8px auto;
}

#error-message ul {
  margin: 0px 0px 8px 0px;
  padding: 0px;
}

#error-message li {
  list-style-type: none;
}