/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Variables */
:root {
  --nav-font-color: #AE9F86;
  --nav-black: #181a1b;
  --button-orange: #e58a1f;
  --button-orange-hover: #ff8c05;
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

  /* Navigation Bar Styling */

/* Navigation Bar Styling - Login / Signup  */
#nav-signup-link, #nav-login-link {
  display: block;
  color: white;
  padding: 14.4px;
}

 /* Navigation Bar Styling - user logged in  */
.navbar-single, .navbar-double {
  background-color: var(--nav-black);
  text-transform: uppercase;
}

.navbar-single ul, .navbar-double ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-double {
  display: grid;
  grid-template: none / 40% 60%;
  height: 3em;
}

.logo-container{
  display: grid;
  justify-items: start;
  align-items: center;
}

.navbar-double .logo {
  width: 15em;
  margin-left: 1em;
}

.navbar-double li {
  float: right;
}

.nav-link {
  display: block;
  padding: 1.35em 1em 0em;
  color: var(--nav-font-color);
  text-decoration: none;
  font-family: "Brandon Grotesque", Lato, Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.12em;
  line-height: 1.33;
} 

.nav-link:after {
  display: block;
  content: '';
  width: 60%;
  margin: 5px auto;
  border-bottom: solid 1px var(--nav-font-color);
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}

.nav-link:hover:after{ transform: scaleX(1); }

.logout-container {
  display: inline-block;
  background-color: var(--button-orange);
  width: 48px;
  height: 48px;
}

.logout-container:hover { background-color: var(--button-orange-hover) }

.logout {
  width: 24px;
  margin: 12px 13px 0px;
}